/* Body styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* App container styles */
  .App {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  /* Table container styles */
  .table-container {
    width: 100%;
    margin-bottom: 40px;
    box-shadow: 0px 2px 6px rgba(8, 8, 8, 0.1);
    border-radius: 4px;
    overflow:scroll;
  }
  
  /* Table heading styles */
  .table-header {
    background-color: #050505;
    color: #fff;
  }
  
  /* Table styles */
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  /* Table row styles */
  .table tr {
    border-bottom: 1px solid #ddd;
  }
  
  /* Table cell styles */
  .table td, .table th {
    padding: 12px 15px;
    text-align: left;
  }
  
  /* Form container styles */
  .form-container {
    width: 100%;
    margin-bottom: 40px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    overflow: hidden;
  }
  
  /* Form heading styles */
  .form-container h2 {
    background-color: #000;
    color: #fff;
    padding: 20px;
    margin: 0;
  }
  
  /* Form styles */
  .form {
    padding: 20px;
  }
  
  /* Input container styles */
  .inputs {
    display: flex;
    margin-bottom: 20px;
  }
  
  /* Input label styles */
  .inputs label {
    width: 150px;
    margin-right: 10px;
    font-weight: bold;
  }
  
  /* Input styles */
  .inputs input[type="text"], .inputs input[type="email"], .inputs input[type="number"], .inputs select {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
  }
  
  /* Radio button styles */
  .inputs input[type="radio"] {
    margin-right: 10px;
  }
  
  /* Submit button styles */
  .submit-btn {
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    transition: all 0.2s ease;
  }
  
  .submit-btn:hover {
    background-color: #fff;
    color: #000;
  }
  